.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %a.btn.btn-navbar{:'data-toggle' => 'collapse', :'data-target' => '.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to(image_tag('code-for-germany.png', alt: t('app.org')), 'http://codefor.de/', class: 'brand')
      .nav-collapse
        %ul.nav
          %li
            %a{href: 'https://github.com/codeforgermany/follow-all'}
              = t('nav.source_code')
